In [5]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [9]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 91.0.4472
[WDM] - Get LATEST driver version for 91.0.4472


[WDM] - Driver [C:\Users\spyro\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

## Visit the NASA mars news site

In [10]:
url = "https://redplanetscience.com/"
browser.visit(url)

browser.is_element_present_by_css("div.list_text", wait_time=1)

True

In [11]:
html = browser.html
news_soup = soup(html, "html.parser")

slide_elem = news_soup.select_one("div.list_text")

In [12]:
slide_elem.find("div", class_="content_title")

In [13]:
news_title = slide_elem.find("div", class_="content_title").get_text()
news_title

"NASA's New Mars Rover Is Ready for Space Lasers"

In [14]:
news_p = slide_elem.find("div", class_="article_teaser_body").get_text()
news_p

'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.'

## JPL Space Images Featured Image

In [15]:
url = "https://spaceimages-mars.com"
browser.visit(url)

In [16]:
full_image_elem = browser.find_by_tag("button")[1]
full_image_elem.click()

In [17]:
html = browser.html
img_soup = soup(html, "html.parser")

In [18]:
img_url_rel = img_soup.find("img", class_="fancybox-image").get("src")
img_url_rel

'image/featured/mars2.jpg'

In [19]:
img_url = (f"https://spaceimages-mars.com/{img_url_rel}")
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [20]:
df = pd.read_html("https://galaxyfacts-mars.com")[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [21]:
df.columns=["Description", "Mars", "Earth"]
df.set_index("Description", inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [22]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [23]:
url = "https://marshemispheres.com"

browser.visit(url)

In [24]:
hemisphere_image_urls = []

links = browser.find_by_css("a.product-item img")

for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css("a.product-item img")[i].click()
    
    sample_elem = browser.links.find_by_text("Sample").first
    hemisphere["img_url"] = sample_elem["href"]
    
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    hemisphere_image_urls.append(hemisphere)
    
    browser.back()

In [25]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [26]:
browser.quit()